/*
scheme: "Ef-Dark"
author: "KHelust"
based:  "Protesilaos Stavrou"
*/

#window {
    animation-name: fadeIn;
    animation-duration: 0.4s;
    background-color: transparent;
    font-family: Arimo;
    font-size:18px;
    border-radius: 10px;
}

#outer-box {
    /* background-color: #000000; */
    background: linear-gradient(90deg, #1a1a1a, #000000, #1a1a1a);
    padding: 10px;
    margin: 0px;
    border-radius: 10px;
}

#text {
    color: #ffffff;
    background-color: transparent;
    padding: 10px;
} 

#inner-box {
    color: #ffffff;
    border-radius: 10px;
}

#entry {
    padding: 5px 2px 5px 2px;
    margin: 0px 0px 0px 0px;
}

#input {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 0px;
    margin: 4px 4px 10px 4px;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

#entry:selected {
    /* background-color: #ff76ff; */
    background: linear-gradient(90deg, #ff76ff, #89afef, #ff76ff);
    padding: 5px;
    border-radius: 10px;
}
 
#text:selected {
    color: #000000;
}
 
#scroll {
}

#img {
    background-color: transparent;
}
