/*
scheme: "Ef-Dark"
author: "khelust"
based:  "Protesilaos Stavrou"
*/

#window {
    background-color: transparent;
    font-family: Arimo;
    font-size:18px;
    border-radius: 10px;
}

#outer-box {
    background: linear-gradient(90deg, #1a1a1a, #000000, #1a1a1a);
    /* background: #000000; */
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
}

#text {
    padding: 5px;
    color: #ffffff;
    background-color: transparent;
}

#input {
    background-color: #1a1a1a;
    color: #ffffff;
    border-radius: 0px;
    margin: 4px 4px 10px 4px;
    padding: 8px;
    border-radius: 10px;
    border: none;
}

#entry:selected {
    /* background-color: #ff76ff; */
    background: linear-gradient(90deg, #ff76ff, #89afef, #ff76ff);
    padding: 5px;
    border-radius: 10px;
}

#text:selected {
    color: #000000;
}

