/* Import your desired components first */

@import url(chrome/minimal_text_fields.css);
@import url(chrome/minimal_toolbarbuttons_v3.css);
@import url(chrome/urlbar_centered_text.css);
@import url(chrome/navbar_tabs_responsive_oneliner.css);
@import url(chrome/icon_only_tabs.css);
@import url(chrome/centered_tab_content.css);
@import url(chrome/newtab_button_always_on_hover.css);
@import url(chrome/bookmark_panel_enlarge.css);
@import url(chrome/centered_statuspanel.css);
@import url(chrome/scrollable_urlbar_popup.css);

/* Import theme files */
/* @import url(theme_color_variables.css); */
/* @import url(theme_sidebar.css); */
/* @import url(theme_toolbars.css); */
/* @import url(theme_popups_and_menus.css); */

/* Apply your custom modifications after imports */

#tabbrowser-tabpanels{
  background-color: var(--uc-light-bkgnd-color,rgb(18,18,18)) !important;
}

:root{
  --toolbar-bgcolor: rgb(12,12,12) !important;
  --uc-menu-bkgnd: var(--toolbar-bgcolor);
  --arrowpanel-background: var(--toolbar-bgcolor) !important;
  --autocomplete-popup-background: var(--toolbar-bgcolor) !important;
  --uc-menu-disabled: rgb(43,43,43) !important;
  --lwt-toolbar-field-focus: rgb(18,18,18) !important;
}

#sidebar-box{ --sidebar-background-color: var(--toolbar-bgcolor) !important; }
window.sidebar-panel{ --lwt-sidebar-background-color: rgb(18,18,18) !important; }

/* Modify these to change relative widths or default height */
#navigator-toolbox{
  --uc-navigationbar-width: 65vw;
  --uc-toolbar-height: 40px;
  --uc-urlbar-min-width: 50vw; /* minimum width for opened urlbar */
}
